In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as  plt

In [4]:
train_df = pd.read_csv('train.csv', delimiter=',')
test_df = pd.read_csv('test.csv', delimiter=',')

## План исследования:
1) Описание набора данных и признаков
2) Первичный анализ признаков
3) Первичный визуальный анализ признаков
4) Закономерности, инсайты, особенности данных
5) Предобработка данных
6) Создание новых признаков
7) Кросс валидация, подбор параметров
8) Построение кривых валидации и обучения
9) Прогноз для тестовой и отлоденной выборки
10) Оценка модели с описанием выбранной метрики
11) Выводы

In [11]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1) Описание набора данных и признаков:
Для исследования я взял  набор данных с платформы Kaggle, который заранее был разбит на обучающую и отложенную выборки.
Данные содержат в себе 11 признаков. В тренировочной выборке 891 строка (68%), а в отложенной 418 строк (32%)
Самым интересным признаком является выживаемость пассажира: выжил он или нет. Этот параметр мы и будем прогнозировать и классифицировать.
Вероятнее всего наиболее информативными признаками будут: пол, класс каюты, возраст.

In [10]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## 2)Первичный анализ признаков

In [14]:
print()

## 3) Первичный визуальный анализ признаков

## 4) Закономерности, инсайты, особенности данных

## 5) Предобработка данных

## 6) Создание новых признаков

## 7) Кросс валидация, подбор параметров

## 8) Построение кривых валидации и обучения

## 9) Прогноз для тестовой и отлоденной выборки

## 10) Оценка модели с описанием выбранной метрики